[submodule "research_utils"]
	path = research_utils
	url = https://github.com/uwcrowdlab/gears.git
	branch = master
[submodule "hcomp_data_analyze"]
	path = hcomp_data_analyze
	url = https://github.com/uwcrowdlab/crowd-data.git
	branch = master
