[submodule "research_utils"]
	path = research_utils
	url = git@bitbucket.org:turingmusician/research-utils.git
[submodule "hcomp-data-analyze"]
	path = hcomp_data_analyze
	url = git@bitbucket.org:turingmusician/hcomp-data-analyze.git
